In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('amazon_alexa.tsv',delimiter='\t')

In [3]:
dataset.shape

(3150, 5)

In [4]:
dataset.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [6]:
dataset.describe(include="object")

             date   variation verified_reviews
count        3150        3150             3150
unique         77          16             2301
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [12]:
dataset["length"] = dataset["verified_reviews"].apply(len)

In [16]:
dataset["verified_reviews"]

0                                           Love my Echo!
1                                               Loved it!
2       Sometimes while playing a game, you can answer...
3       I have had a lot of fun with this thing. My 4 ...
4                                                   Music
                              ...
3145    Perfect for kids, adults and everyone in betwe...
3146    Listening to music, searching locations, check...
3147    I do love these things, i have them running my...
3148    Only complaint I have is that the sound qualit...
3149                                                 Good
Name: verified_reviews, Length: 3150, dtype: object

In [18]:
from textblob import TextBlob

In [20]:
mysen = TextBlob("Love my Echo!")

In [21]:
mysen.sentiment

Sentiment(polarity=0.625, subjectivity=0.6)

In [34]:
def get_sentiment_polarity(text):
    mytextblob = TextBlob(text)
    mysentiment = mytextblob.sentiment.polarity
    return mysentiment
def get_sentiment_subject(text):
    mytextblob = TextBlob(text)
    mysentiment = mytextblob.sentiment.subjectivity
    return mysentiment

In [35]:
dataset["polarity"] =dataset["verified_reviews"].apply(get_sentiment_polarity)

In [36]:
dataset["subjectivity"]=dataset["verified_reviews"].apply(get_sentiment_subject)

In [37]:
dataset

,rating,date,variation,verified_reviews,feedback,length,polarity,subjectivity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625000,0.600000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875000,0.800000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100000,0.512500
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350000,0.450000
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000000,0.000000
...,...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,50,1.000000,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,135,0.333333,0.452381
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,441,0.237662,0.533766
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,380,0.316667,0.632099
3149,4,29-Jul-18,Black Dot,Good,1,4,0.700000,0.600000

In [39]:
dataset[["length","polarity","subjectivity"]].describeribe

<bound method NDFrame.describe of       length  polarity  subjectivity
0         13  0.625000      0.600000
1          9  0.875000      0.800000
2        195 -0.100000      0.512500
3        172  0.350000      0.450000
4          5  0.000000      0.000000
...      ...       ...           ...
3145      50  1.000000      1.000000
3146     135  0.333333      0.452381
3147     441  0.237662      0.533766
3148     380  0.316667      0.632099
3149       4  0.700000      0.600000

[3150 rows x 3 columns]>